{% extends 'base.twig' %}

{% block title %}Połącz tag{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1 { color: yellowgreen; }
    </style>
{% endblock %}
{% block content %}
    <h1>
        Połącz tag z postem
    </h1>
    <p>
        Some static text.
    </p>
{% endblock %}