{% extends 'base.twig' %}

{% block title %}Dodaj użytkownika{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1 { color: indianred; }
    </style>
{% endblock %}
{% block content %}
    <h1>
        Dodaj użytkownika
    </h1>
    <p>
        Some static text.
    </p>
{% endblock %}